<footer>
    <div class="f-info">
        <div class="f-info-socials" style="margin-bottom: 0.5rem;">
           
                <i class="fa-brands fa-square-facebook" ></i>
                <i class="fa-brands fa-linkedin"></i>
                <i class="fa-brands fa-square-instagram"></i>   
                
        </div>
        <div style="margin-bottom: 0.5rem;" class="f-info-brand">
        &copy;WanderLust Private Limited
    </div>
    <div class="f-info-links" >
        <a href="/privacy">Privacy</a> &nbsp; &nbsp;
        <a href="terms">Terms</a>
    </div>
</footer>